html {
}

body {
  color: #222;
  font-family: "Lato";
}

hr {
  width: 150px;
}

.navbar {
  width: 100%;
  background: transparent none repeat scroll 0% 0%;
  z-index: 9;
}

.navbar .container {
    max-width: 100%;
    width: 100%;
    background: #fff;
    padding: 25px;
  }

.navbar img {
  width: 200px;
  margin-left: 25px;
}
.navbar .menu {
  float: right;
}

.navbar .menu a {
    color: #222;
    text-decoration: none;
    font-weight: 100;
    margin-right: 35px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.navbar .menu a:hover {
  transition: all 0.6s ease 0s;
  color: #A33534;
}

.navbar .menu .inverted {
  transition: all 0.6s ease 0s;
  color: #A33534;
}

.navbar .mobile {
  font-size: 35px;
  color: #222;
  margin: 0;
  display: none;
  position: absolute;
  right: 25px;
}

.navbar .mobile-menu {
  position: fixed;
  min-width: 75%;
  background: #000;
  top: 0;
  right: 0;
  height: 100%;
  display: none;
  z-index: 9999;
}

.navbar .mobile-menu a {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    text-decoration: none;
    color: #fff;
    padding: 25px;
}

.navbar .mobile-menu .close-menu {
  background: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.mast {
  background: #fff
  display: block;
  width: 100%;
}

.mast .container {
  max-width: 1280px;
}


.mast h1 {
  font-family: "Lato";
  text-align: left;
  font-style: normal;
  font-weight: 400;
}

.mast h1 a {
  border-bottom: 1px dotted rgb(255, 255, 255) !important;
  color: #222;
}

.mast h1 small {
  font-size: 16px;
  padding: 0px 4px;
  display: inline-block;
}

.mast h3 {
  font-size: 22px;
  padding: 5px 0px;
  margin-bottom: 0px;
  color: #222;
  font-weight: 300;
}

.mast p {
  color: #222;
}

.mast p a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.mast span {
  background: #222;
  padding: 10px 15px;
  color: #fff;
  margin-right: 15px;
}

.mast .publicBenefit-question {
  cursor: pointer;
}

.index p a {
  line-height: 2;
}
.page {
  height: auto;
}

.page h2 {
  color: #222;
}

.page p {
  color: #222;
  font-size: 19px;
}

.page .page-c a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #222;
}

.page .bottombar {
  position:relative;
}

.page .team {
  text-align: center;
}


.page .team .member {
  margin-bottom: 50px;
  margin: 24px;
  padding: 50px;
}

.page .team img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:2px solid #222;
}

.page .team h2 {
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 3.8rem;
}

.page .team p {
  padding: 0;
  margin: 0;
}

.page .team .media {
      padding-top: 10px;
}


.page .team .media a {
  font-size: 25px;
  margin: 0 12px;
  display: inline-block;
  text-decoration: none;
  border: none;
}

.project {
  text-align: center;
  margin-bottom: 100px;
}

.project .two {
  height: 120px;
  display: block;
  margin-top: 75px;
}

.project .three {
  height: 120px;
  display: block;
  margin-top: 75px;
}


.project h1 {
  color: #fff;
  font-weight: 900;
}

.project img {
  max-width: 100%;
  margin-bottom: 75px;
  margin: 0 auto;
}



.about h3 {
  font-size: 22px;
}
.bottombar {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bottombar .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.bottombar .three {
  width: 25%;
  margin-left: 0;
}

.bottombar a {
    display: inline-block;
    text-align: center;
    color: #222;
    float: left;
    text-decoration: none;
    border-right: 1px solid rgba(255,255,255,0.01);
    padding: 25px 0;
    transition: all 0.6s;
        width: 100%;

}

.bottombar a:hover {
  transition: all 0.6s;
  }

.bottombar a:first-child {

}

.bottombar a:nth-child(2) {

}

.bottombar a:nth-child(3) {

}

.bottombar a:nth-child(4) {
  border: none;
}

.footer {
  text-align: center;
  background: rgb(0, 0, 0) none repeat scroll 0% 0%;
  margin: 0px;
  padding: 15px;
  vertical-align: middle;
  transition: 0.3s all;
  color: #FFF;
}

.footer .overlay {
    opacity: 0.25;
    transition: all 0.3s;

}

.footer .overlay:hover {
  opacity: 1;
  transition: all 0.3s;
}

.footer p {
  vertical-align: middle;
  margin-bottom: 0px;
}

.footer:hover {
  color: #fff;
  transition: 0.3s all;
}

.footer a {
  color: inherit;
}

.footer .ion {
  font-size: 25px;
  padding: 10px 15px;
}

div#tipDiv {
    font-size:11px;
    line-height:1.2;
    color:#000;
    background-color:#fff;
    border:1px solid #667295; padding:4px;
    width:250px;
}

/* Larger than mobile */
@media screen and (max-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media screen and (max-width: 600px) {

}

/* Larger than tablet */
@media screen and (max-width: 750px) {

}

/* Larger than desktop */
@media screen and (max-width: 1000px) {

  .about .container {
    padding-top: 0 !important;
  }

}

/* Larger than Desktop HD */
@media screen and (max-width: 1200px) {

.menu {
  display: none;
}

.navbar img {
  width: 150px;
  margin-left:0;
}

.navbar .mobile {
  display: inline-block;
}

.mast h1 {
    font-size: 30px;
}

.mast .container {
  padding: 25px !important;
  padding-top:30% !important;
}


.index .container {
      padding-top: 120px;
}
