---
title: "About"
permalink: /about/
description:  We are a public benefit development and advertising agency which means we ​have made it our mission to only do good work for good people.
---

{% include header.html %}

<div class="animated fadeInUpBig">
<div class="mast page bg">
    <div class="container" style="padding: 2% 0%; padding-bottom: 2%; text-align:center;">
      <h1 style="text-align:center;">{{ page.title }}</h1>
      <hr>
      <p>{{ page.description }}</p>
        <a class="btn-main " href="/our-work">Our Work</a>
        <a class="btn-main " href="/development/">Web Development</a>
        <a class="btn-main " href="/advertising/" >Advertising Service</a>
      </div>
</div>

<div class="team" style="background: url('/img/banner/mtns.jpg')">
  <div class="row">
    <div class="member">
      <div class="three columns">
        <img src="https://scontent.fmci1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/156280_10204016770498421_4310647892201126358_n.jpg?oh=8b9becab6e4f8ca7f18b47730c214ea2&oe=5777C556"></img>
      </div>
      <div class="nine columns content">
        <h2>Macleod Sawyer</h2>
        <p class="sub">CEO & Founder</p>
        <p>Macleod had his first company aquired at 16, now runs three more and has over half a million followers across his blogs dealing with social activism. </p>

        <p class="media">
          <a href="https://macleodsawyer.com" target="_blank"><i class="ion ion-share"></i></a>
          <a href="mailto:macleod@ideadrops.xyz" target="_blank"><i class="ion ion-ios-email"></i></a>
        </p>
      </div>
    </div>
    <div class="member">
      <div class="three columns right-img">
        <img src="/img/team/david.jpg"></img>
      </div>
      <div class="eight columns right content">
        <h2>David Crosby</h2>
        <p class="sub">CTO & Lead Developer</p>
        <p>David is currently a student at the University of Arkansas, enjoys programming, linux and mathematics.</p>

        <p class="media">
          <a href="mailto:david@ideadrops.xyz" target="_blank"><i class="ion ion-ios-email"></i></a>
        </p>
      </div>
    </div>
</div>
</div>

<div class="bottom">
  <div class="content">
    <p>Want to learn more about us?</p>
    <a class="btn-main" href="mailto:team@ideadrops.xyz">Contact Us!</a>
  </div>
</div>

  </div>


{% include footer.html %}
