---
title: "Our Work"
permalink: /our-work/
description: We are a small team who has worked on over a dozen projects trying to make the world a better place.
---

{% include header.html %}

<div class="animated fadeInUpBig">
<div class="mast page bg">
    <div class="container" style="padding: 2% 0%; padding-bottom: 2%; text-align:center;">
      <h1 style="text-align:center;">{{ page.title }}</h1>
      <hr>
      <p>{{ page.description }}</p>
      </div>
</div>

<div class="project" style="background: url('/img/projects/cd-bg.jpg')">
  <div class="overlay"></div>
      <div class="work">
        <img src="/img/projects/cd.png"></img>
        <div class="content">
          <span class="title">CharityDrops.org</span>
          <span class="meta two">
            <a href="https://charitydrops.org/" class="link" target="_blank">View Project</a>
            <a href="https://charitydrops.org/donate" class="link" target="_blank" style="background: #008Fe9;"><i class="ion ion-ios-heart"></i> Donate</a>
          </div>
        </div>
      </div>
</div>

<div class="project" style="background: url('/img/projects/rl.png')">
  <div class="overlay"></div>
      <div class="work">
        <img src="/img/projects/rl.png"></img>
        <div class="content">
          <span class="title">Read|Less</span>
          <span class="meta one">
            <a href="http://readlessco.github.io/" class="link" target="_blank">View Project</a>
          </span>
        </div>
      </div>
</div>

<div class="project" style="background: url('/img/projects/sd-bg.jpg');">
  <div class="overlay"></div>
      <div class="work">
        <img src="/img/projects/sd.png"></img>
        <div class="content">
          <span class="title">SandersDemocrats.org</span>
          <span class="meta one">
            <a href="http://sandersdemocrats.org/" class="link" target="_blank">View Project</a>
          </span>
        </div>
      </div>
</div>

      </div>

    </div>

    <div class="bottom">
      <div class="content">
        <p>Interested in our services?</p>
        <a class="btn-main" href="mailto:team@ideadrops.xyz">Contact Us</a>
      </div>
    </div>
  </div>

{% include footer.html %}
