---
title: "Our Work"
permalink: /our-work/
---

{% include header.html %}

<div class="animated fadeInUpBig">
<div class="mast page bg">
    <div class="container"  style="padding: 2% 0%; padding-bottom: 2%; text-align:center;">
      <h1 style="text-align:center;">{{ page.title }}</h1>
      <hr>
      <p>We are a small team who has worked on over a dozen projects trying to make the world a better place.<br>
      Our projects are seen by and used by over a million people every month.</p>
      </div>
</div>

<div class="project">
  <div class="container">
    <a href="https://charitydrops.org" target="_blank"><img src="/img/projects/charitydrops_blue.png"></img></a>
    <img src="/img/projects/mxmedia.png" class="two"></img>
    <a href="http://readless.co" target="_blank"><img src="/img/projects/readless.png" class="three"></img></a>
  </div>
</div>


</div>

{% include footer.html %}
