---
description: We are a development and marketing agency that strives to make the world a better place.
---

{% include header.html %}
<div class="animated fadeInUpBig">
<div class="mast bg index">
    <div class="container" style="padding: 5% 2% 0%;">
      <h3>Web &nbsp; - &nbsp; Mobile  &nbsp; - &nbsp; E-Commerce &nbsp; - &nbsp; Marketing &nbsp; - &nbsp; Development &nbsp;&amp;&nbsp; Design </h3>
      <h1>We are a <a class="publicBenefit">public benefit</a><small class="publicBenefit-question">?</small> development and marketing agency that strives to make the world a better place.</h1>
      <p><span class="new">New!</span> <a href="/what-we-do/">Free professional development work for smaller projects and nonprofts!</a></p>

      <p style="color: #aaa;display:inline-block;margin-right:5px;">OUR WORK HAS BEEN FEATURED ON:</p> <img src="/img/observer.svg" style="max-width:150px;max-width: 150px;vertical-align: middle;margin-top: -5px;"></img></a>
    </div>


    <hr>

</div>

<div class="about" style="margin: 0 auto;">
    <div class="container">

  <div class="row" style="max-width: 900px;margin: 0 auto;padding: 25px;">

    <div class="six columns">

      <h3>1. Professional development</h3>
      <p>Our small team of professional designers and developers will start working directly with you trying to make it come to life and make your business look modern and professional.</p>
      <p><a class="btn-main" style="margin:0;" href="/development/">Development <i class="ion ion-arrow-right-c"></i></a></p>
    </div>
    <div class="six columns">

      <h3>2. Effective advertising</h3>
      <p>We are also an advertising agency that is focused on viral content. We reach over 20million people a month and our digital network has millions of followers.</p>
      <p><a class="btn-main" style="margin:0;" href="/advertising/">Advertising <i class="ion ion-arrow-right-c"></i></a></p>

    </div>
</div>
</div>
</div>
</div>

  {% include footer.html %}

  <script>
         $(document).ready(function() {
             $('.publicBenefit-question').tooltipster({
               animation: 'fade',
               delay: 200,
               maxWidth: 200,
               position: 'bottom-right',
               content: $('<span style="background:#fff;"><strong>We are legally obligated to create a positive impact on society and the environment in an effort to make the world a better place.</strong></span>')
             });
         });
     </script>


</body>
</html>
