---
---

{% include header.html %}

<div class="animated fadeInUpBig">
<div class="mast bg index">
    <div class="container" style="padding: 5% 10% 0%;">
      <h3>Web &nbsp; - &nbsp; Mobile  &nbsp; - &nbsp; E-Commerce &nbsp; - &nbsp; Development &nbsp;&amp;&nbsp; Design</h3>
      <h1>We are an independent <a class="publicBenefit">public benefit</a><small class="publicBenefit-question">?</small> development agency that strives to make the world a better place.</h1>
      <p><span class="new">New!</span> <a href="/what-we-do/">Free professional development work for smaller projects and nonprofts!</a></p>
    </div>

    <hr>

</div>

<div class="about" style="margin: 0 auto;">
    <div class="container">

  <div class="row" style="max-width: 900px;margin: 0 auto;padding: 25px;">

    <div class="one-third column">

      <h3>1. &nbsp; Idea</h3>
      <p>Someone comes to us with an idea that will help the world and if we like it we make it -  either for a fee (we have to eat!) or pro-bono (free as in air!).</p>
    </div>
    <div class="one-third column">

      <h3>2. &nbsp; We Do The Work</h3>
      <p>Our small team of designers and developers will start working directly with you on the idea trying to make it come to life and help the world.</p>
    </div>
    <div class="one-third column">

      <h3>3. &nbsp; The Launch</h3>
      <p>Once the project is done we help launch it and get it going! (one day we hope we can work on rockets that can actually launch!).</p>
    </div>
</div>
</div>
</div>
</div>

  {% include footer.html %}

  <script>
         $(document).ready(function() {
             $('.publicBenefit-question').tooltipster({
               animation: 'fade',
               delay: 200,
               maxWidth: 200,
               position: 'bottom-right',
               content: $('<span style="background:#fff;"><strong>We are legally obligated to create a positive impact on society and the environment in an effort to make the world a better place.</strong></span>')
             });
         });
     </script>
</body>
</html>
