</div></div>
<div class="footer">
  <p><img src="/img/logo.png" class="brand"></img> <br>&copy; 2015-2016 IdeaDrops (a public benefit agency) 
  </p>
  <p><a href="/privacy">Privacy Policy</a></p>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function services() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropdown')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<script>
$(function() {
  var menuVisible = false;
  $('.mobile').click(function() {
    if (menuVisible) {
      $('.mobile-menu').css({'display':'none'});
      menuVisible = false;
      return;
    }
    $('.mobile-menu').css({'display':'block'});
    menuVisible = true;
  });
  $('.close-menu').click(function() {
    $('.mobile-menu').css({'display':'none'});
    menuVisible = false;
  });
});
</script>
